:root {
    --cta_accent: #962d32;
    --ligth_bgd: white;
    --navegation: #003380;
    --shadow: #0f0f0f9a;
    --text_primary: #212121;
    --text_secondary: #757575;
    --smart_blue: #0b4ac1;
    --atomic: #FF773F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

header {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    top: 0;
}

div.background {
    z-index: -3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}

video {
    filter: saturate(1.8);
    /* Aumenta la saturación un 70% */
    width: 100%;
    height: clamp(23rem, 60vw, 40rem);
    object-fit: fill;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0 0 15px 15px;
}

#menu-icon {
    width: clamp(8rem, 20vw, 12rem);
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 0;
}

.header-content {
    width: 100%;
    height: clamp(23rem, 60vw, 40rem);
    display: flex;
    flex-direction: column;
    justify-content: initial;
    padding: 1rem;
    margin-bottom: 2rem;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 40px;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 1.5rem;
}

.hamburguer .bar {
    width: 100%;
    height: 4px;
    background-color: var(--navegation);
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* --- Animación al abrir --- */
.hamburguer[aria-expanded="true"] .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburguer[aria-expanded="true"] .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer[aria-expanded="true"] .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 9%;
    left: -100%;
    width: 60%;
    height: 40vh;
    /*efecto glass*/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: var(--shadow);
    border-right: 1px solid var(--shadow);
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    transition: left 0.3s ease;
    z-index: 1000;
}

.nav-menu li a {
    text-decoration: none;
    cursor: pointer;
    color: var(--ligth_bgd);
    font-size: 1rem;
    font-weight: 500;
    padding: .2rem 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
    background: none;
    border-bottom: 3px solid transparent;
}

.nav-menu li a:hover {
    border-bottom: 3px solid var(--navegation);
}

/* --- Menú visible --- */
.nav-menu.active {
    left: 0;
}

@media (min-width: 768px) {
    .background video {
        height: clamp(500px, 80vh, 700px);
    }

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        height: clamp(500px, 80vh, 700px);
        margin-bottom: 2rem;
        gap: 2.5rem;
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hamburguer {
        display: none;
    }

    .nav-menu {
        position: static;
        flex-direction: row;
        flex-wrap: nowrap;
        background: none;
        box-shadow: none;
        border: none;
        padding: 0;
        width: 100%;
        height: auto;
    }

    ul.nav-menu#nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem .5rem;
        width: auto;
    }

    .nav-menu li a {
        font-size: clamp(.9rem, 2vw, 1.2rem);
        font-weight: 600;
        color: var(--navegation);
        background: none !important;
        border-bottom: 3px solid transparent;
    }

    .nav-menu li a:hover {
        border-bottom: 2px solid var(--navegation);
    }

    .nav-menu.active {
        left: 0;
        /* no aplica */
    }

    .preview {
        width: 55% !important;
        gap: 1.5rem;
        padding: 2rem !important;
    }

    .preview p {
        width: 80%;
    }

    #menu-icon {
        top: 18%;
        right: 18%;
        z-index: 1;
    }
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    gap: 1rem;
    background-color: var(--shadow);
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.header-content .preview h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: var(--ligth_bgd);
    text-align: center;
}

.header-content .preview p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.9rem, 2vw, 1.5rem);
    color: var(--ligth_bgd);
    text-align: center;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    margin: 0 !important;
}

.cta button {
    padding: .7rem;
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--navegation);
    color: var(--ligth_bgd);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform ease-in-out .3s;
}

.cta button:hover {
    transform: scale(1.1);
}

.preview .cta a#btn-contact {
    padding: .6rem;
    cursor: pointer;
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-family: 'Montserrat', sans-serif;
    color: var(--ligth_bgd);
    border: 2px solid var(--navegation);
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    transition: transform ease-in-out .3s;
}

.preview .cta a#btn-contact:hover {
    background-color: var(--navegation);
    transform: scale(1.1);
}

.preview .cta a#btn-contact i {
    font-size: 1rem;
    color: green;
}

footer {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding-bottom: .8rem;
    background-color: var(--smart_blue);
}

footer .contacto {
    width: 100%;
    height: auto;
    background-color: var(--navegation);
    color: var(--ligth_bgd);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    bottom: 0;
    z-index: 5;
}

.contacto .title {
    display: none;
}

.contacto .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
    width: 52%;
}

.contacto .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
    width: 40%;
}

.contacto .legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    gap: 1.5rem;
    width: 100%;
}

.contact-list h3,
.menu h3,
.legal h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    margin-bottom: .5rem;
    color: var(--ligth_bgd);
}

.contact-list a,
.menu a,
.legal a {
    text-decoration: none;
    color: var(--ligth_bgd);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.8rem, 2vw, 1.1rem);
    cursor: pointer;
    text-align: center;
    padding: .3rem 1rem;
    border-radius: 10px;
    border-bottom: 2px solid transparent;
    z-index: 5;
}

.contact-list a:hover,
.menu a:hover {
    border-bottom: 2px solid var(--ligth_bgd);
}

.contact-list a i {
    margin-right: .5rem;
}

#foot-icon {
    width: clamp(18rem, 30vw, 20rem);
    height: auto;
    cursor: default;
    z-index: 1;
    position: absolute;
    filter: opacity(.1);
}

footer p,
footer p a {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    margin-top: .5rem;
    color: var(--ligth_bgd);
    text-align: center;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

@media (min-width:768px) {
    footer .contacto {
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-block: 2rem;
    }

    .contacto .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        font-size: 1.2rem;
        z-index: 1;
    }

    .title a {
        text-decoration: none;
        font-family: 'Frank Ruhl Libre', serif;
        font-size: clamp(1.2rem, 3vw, 1.8rem);
        color: var(--ligth_bgd);
        font-weight: 700;
        cursor: pointer
    }

    .contacto .contact-list,
    .contacto .menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 20%;
        padding-inline: 2rem;
    }

    .contacto .legal {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-inline: 2rem;
        margin: 0;
    }

    .contact-list a,
    .menu a {
        padding: .3rem 1rem;
        border-radius: 10px;
        border-bottom: 2px solid transparent;
    }

    .contact-list a:hover,
    .menu a:hover {
        border-bottom: 2px solid var(--ligth_bgd);
    }

    #foot-icon {
        left: 12%;
    }

}

/*Estilos generales de las secciones*/

main {
    padding-inline: 1rem;
}

section {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

@media (min-width:768px) {
    main {
        padding-inline: 2.5rem;
    }

    section {
        padding-inline: 3rem;
    }
}

h2 {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    color: var(--navegation);
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    font-weight: 700;
    color: var(--navegation);
    margin-bottom: 1rem;
    text-align: center;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.9rem, 2vw, 1.1rem);
}


.diagfirst {
    border-radius: 50% 0;
}

.diagsecond {
    border-radius: 0 50%;
}

/*Home Section Mobile*/

.home-section .homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: auto;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}

.card-list .card-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: var(--navegation);
    padding: 1.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

}

.card-icon i {
    font-size: clamp(2rem, 4vw, 2.5rem);
    margin-bottom: .8rem;
    color: var(--ligth_bgd);
}

.card-icon span {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.9rem, 2vw, 1.2rem);
    color: var(--ligth_bgd);
    line-height: 1.5;
    display: block;
}

.cta {
    margin-block: 1.5rem;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.cta a#btn-contact {
    color: var(--text_primary);
    cursor: pointer;
    border: 3px solid var(--navegation);
    border-radius: 15px;
    padding: .5rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.9rem, 2vw, 1.2rem);
    transition: transform ease-in-out .3s;
}

.cta a#btn-contact:hover {
    background-color: var(--navegation);
    color: var(--ligth_bgd);
    transform: scale(1.1);
}

.cta a#btn-contact i {
    color: green;
    margin-right: .5rem;
}

img#homepic.diagfirst {
    width: 80%;
    z-index: -3;
}

.img-right {
    background-image: url(../img/estudiantes\ abrazados.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 50vh;
}

.circle-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 65%;
    right: -50%;
    border-radius: 50%;
    border: 2px dashed var(--atomic);
    width: clamp(10rem, 20vw, 13rem);
    height: clamp(10rem, 20vw, 13rem);
    z-index: 1;
}

.circle-exp .exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding: .6rem;
    width: clamp(9rem, 20vw, 12rem);
    height: clamp(9rem, 20vw, 12rem);
    background-color: var(--atomic);
}

span#number {
    color: var(--ligth_bgd);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 700;
}

span#phrase {
    color: var(--ligth_bgd);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 700;
}

/*Home Section Desktop*/

@media (min-width:768px) {
    .home-section .homecontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .homecontainer .card-list {
        margin-inline: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .homecontainer .card-list .card-icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: .8rem;
        text-align: left;
        background-color: var(--navegation);
        border-radius: 20px;
    }

    .card-list .cta {
        margin-top: 1rem !important;
        align-self: center;
    }

    .img-right.diagfirst {
        width: 40%;
        height: 80vh;
    }

    .circle-exp {
        right: -60%;
        top: 63%;
    }
}


/*About Section Mobile*/

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.about-section .aboutcontainer,
.about-section .clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.aboutcontainer .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
    height: auto;
}

.img-left {
    background-image: url(../img/profilepic.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 60vh;
    z-index: 2;
}

.information .fullname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--atomic);
    padding-top: 12rem;
    padding-bottom: 3rem;
    z-index: 1;
    position: relative;
    margin-top: -55%;
    width: 100%;
}

.fullname h3 {
    color: var(--ligth_bgd);
}

.fullname p {
    width: 75%;
    color: var(--ligth_bgd);
}

.clients .card-list {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.clients .card-icon {
    width: 100%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    box-shadow: 5px 5px 7px -1px rgba(11, 74, 193, 0.75);
    -webkit-box-shadow: 5px 5px 7px -1px rgba(11, 74, 193, 0.75);
    -moz-box-shadow: 5px 5px 7px -1px rgba(11, 74, 193, 0.75);
    background-color: transparent;
    text-align: left;
    border-radius: 0 0 40% 0;
}

.clients .card-icon i {
    font-size: clamp(1.5rem, 3vw, 2rem);
    border-radius: 50%;
    background-color: var(--navegation);
    padding: .8rem;
    margin: 0;
}

.clients .card-icon span {
    color: var(--text_primary);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 600;
}

.clients .img-rigth-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 1rem;
    max-width: 900px;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 12%;
    color: var(--atomic);
}

.img-rigth-grid .rigth-grid {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

img.slide {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    /* Ajusta como background */
    object-position: center;
    /* Centra la imagen */
    align-items: center;
}

.imgtop {
    border-radius: 30% 0;
}

.imgbottom {
    border-radius: 0 30%;
}

/*About Section Desktop*/

@media (min-width:768px) {

    .aboutcontainer .information {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
        padding-inline: 1.5rem;
    }

    .information .img-left {
        width: 50%;
        height: 90vh;
    }

    .information .fullname {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--atomic);
        width: 50%;
        height: 90vh;
        margin: 0;
        padding: 0;

    }

    .about-section .clients {
        padding-inline: 1rem;
        gap: 4rem;
    }

    .clients .card-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        margin-block: 4rem;
    }

    .clients .card-list .card-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--ligth_bgd);
        box-shadow: 5px 5px 7px -1px rgba(11, 74, 193, 0.75);
        -webkit-box-shadow: 5px 5px 7px -1px rgba(11, 74, 193, 0.75);
        -moz-box-shadow: 5px 5px 7px -1px rgba(11, 74, 193, 0.75);
    }

    .clients .card-list .card-icon span {
        text-align: center;
    }

    .aboutcontainer a#btn-contact {
        display: none;
    }
}

/* Service Section Mobile */

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 2rem;
    position: relative;
}

.services-section .backflayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/backup_views.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    filter: drop-shadow(10px 10px 5px #0f0f0f5b);
}

.services-section .activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2em;
    background-color: #0f0f0f5b;
}

.activity h3 {
    font-family: 'Bungee', cursive;
    font-size: 30px;
    margin-bottom: 0;
}

.activity h4 {
    color: var(--ligth_bgd);
    margin-block: 1rem;
    width: 100%;
    text-align: center;
}

div.plane {
    position: absolute;
    top: 8%;
    right: 25%;
    transform: translateY(-50%);
    /* centra en vertical */
    width: 80%;
}

img#plane {
    width: 100%;
    height: auto;
}

.activity .actinfo {
    width: 90%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: #0f0f0f5b;
    border-radius: 15px;
}

.actinfo .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

}

i#ico {
    color: var(--ligth_bgd);
    font-size: 1.2rem;
    background-color: #FF773F;
    border-radius: 50%;
    padding: .3rem;

}

.actinfo .info p {
    color: var(--ligth_bgd);
    font-weight: 600;
}

.explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.explain h3 {
    margin-bottom: 2rem;
}

.card-icon h4 {
    color: var(--ligth_bgd);
    margin-bottom: .5rem;
}

.card-icon p {
    color: var(--ligth_bgd);
}

.explain .cta {
    margin-block: 2rem;
}

.whyus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whyus .img-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
}

@media (min-width:768px) {
    .services-section .servcontent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 100%;
    }

    .servcontent .backflayer,
    .activity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        min-height: 90vh;
    }

    .whyus {
        width: 50%;
    }

    div.plane {
        top: 10%;
        right: 50%;
        width: 50%;
        transform: translateY(-50%);
    }

    .explain .card-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: start;
        align-items: start;
        align-content: start;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    .explain .card-list .card-icon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        background-color: var(--navegation);
        padding: 1.5rem;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .explain .cta {
        margin-block: 2rem !important;
    }

}

/* Estilos para el botón flotante de WhatsApp */

.floatbuttom a#whatsapp {
    text-decoration: none;
}

.floatbuttom a#whatsapp i {
    font-size: clamp(2rem, 10vh, 3rem);
    padding: .5rem;
    border-radius: 100%;
    background-color: rgba(0, 128, 0, 0.596);
    color: var(--ligth_bgd);
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 10px;
    background-color: rgba(0, 128, 0, 0.685);
    color: var(--ligth_bgd);
    border-radius: 50%;
    text-align: center;
    font-size: clamp(2.3rem, 5vh, 3.5rem);
    box-shadow: 2px 2px 3px var(--shadow);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.whatsapp-float:hover {
    background-color: darkgreen;
}

.whatsapp-icon {
    margin: 0;
}
