*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

html {
  scroll-behavior: smooth;
  
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text_primary, #212121);
  background-color: var(--ligth_bgd, white);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

ul, ol {
  list-style: none;
}
